body {
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgb(245, 222, 225);
}
form {
  font-size: 1.5rem;
  height: 100vh;
  padding: 50px;
  width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  font-size: 1.4rem;
  display: flex;
  height: 1.5rem;
  flex-direction: column;
  margin-bottom: 20px;
  width: 300px;
}
.submit {
  width: 150px;
  height: 3rem;
  border: 1px solid transparent;
  border-radius: 5px;
  align-items: center;
  padding: 10px;
  transition: ease all 0.4s;
  cursor: pointer;
}
.submit:hover {
  border: 1px solid black;
}
